.container{
    display: grid;
    grid-template-areas: 
    "header header";
    "nav nav"
    "sidebar content"
    "footer footer";
}

.header{
    grid-area: header;
    background-color: aqua;
}

nav{
    grid-area: nav;
    background-color: bisque;
}

aside{
    grid-area: sidebar;
    background-color: dodgerblue;
}

.content{
    grid-area: content;
    background-color: coral;
}

footer{
    grid-area: footer;
    background-color: deeppink;
}

